* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  width: 100%;
}
.navbar {
  padding: 0.5rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  min-height: 80px;
}
.navbar img {
  width: 120px;
}

.nav_menu ul {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}
.nav_menu ul li {
  list-style-type: none;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

#menuBtn {
  display: none;
}
.nav_menu ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  background: #008b8b;
  transition: width 0.6s;
  border-radius: 5px;
}
.nav_menu ul li:hover::before {
  width: 100%;
}
.nav_menu ul li a {
  text-decoration: none;
  font-size: 1.1rem;
  cursor: pointer;
  color: #4c566a;
}

.header_box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 450px;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.headerbox_left {
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.headerbox_left h1 {
  color: white;
  font-weight: 500;
}
.headerbox_left p {
  font-size: 0.8rem;
  color: white;
  font-weight: 300;
}

.headerbox_left button {
  padding: 0.5rem 1.5rem;
  margin-top: 2rem;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #4c566a;
}
.headerbox_right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerbox_right img {
  width: 200px;
}

@media screen and (max-width: 650px) {
  #menuBtn {
    display: block;
    font-size: 2.5rem;
    color: #0093e9;
    cursor: pointer;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }

  .menu_box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .nav_menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-in;
  }

  .nav_menu .active{
    max-height: 700px;
  }

  .nav_menu {
    width: 100%;
    margin-top: 1.5rem;
  }
  .nav_menu ul li {
    text-align: center;
    width: 100%;
    padding: 0.5rem 1rem;
    background: lightgray;
    font-size: 1rem;
  }

  .header_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  .headerbox_left {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .headerbox_left{
    order: 2;
  }
  .headerbox_right{
    padding-top: 2rem;
    order: 1;
  }
}


/* ------------------- our offer cards starts here---------------------*/

.our_offers{
  margin-top: 2rem;
  padding: 3rem;
}
.our_offers h1 {
  text-align: center;
  color: #4c566a;
}
.ourffers_cards{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  margin-top: 1.5rem;
}

.ouroffer_card{
  padding: 1rem;
  background: #ae3ec9;
  border-radius: 15px;
  text-align: center;
}

.ouroffer_card h3{
  font-size: 2rem;
  font-weight: 500;
  color: white;
}

.ouroffer_card p{
  font-size: 0.8rem;
  margin-top: 1rem;
  color: white;
}

.ouroffer_card img {
  width: 150px;
  height: 150px;
}

.ouroffer_card:first-child{
  background: #7950f2;
}

.ouroffer_card:last-child{
  background: #5c7cfa;
}


@media screen and (max-width: 650px) {
  .ourffers_cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
  }
}

/* ------------------- why us starts from here---------------------*/

.why_us{
  width: 100%;
  margin-top: 1.5rem;
}
.whyus_heading{
  text-align: center;
  color: #4c566a;
}

.whyus_heading h1{
  padding: 12px 2.3rem;
  width: fit-content;
  border-bottom: 5px solid orangered;
  margin: 10px auto;
}

.whyus_heading p {
  text-transform: capitalize;
}

.whyus__cards{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  justify-content: space-evenly;
  margin: 2rem 0;
  padding: 3rem;
}

.whyus_card{
  background: whitesmoke;
  min-height: 150px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.whyus_card img{
  margin-top: 1rem;
}

.why_us p {
  font-size: 14px;
  margin-top: 1rem;
}


@media screen and (max-width: 650px) {
  .whyus__cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
  }
}

/* ------------------- why us ends here---------------------*/
/* ------------------- our tools starts here---------------------*/

.our_tools{
  width: 100%;
  padding: 3rem;
}
.our_tools__heading {
  text-align: center;
}


.our_tools__heading h1{
  padding: 12px 2.3rem;
  width: fit-content;
  border-bottom: 5px solid orangered;
  margin: 10px auto;
  color: #4c566a;
}

.our_tools__heading p{
  font: 14px;
  color: #4c566a;
}

.our_tools__cards{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}
.ourtools_img{
  width: 100%;
  text-align: center;
}
.ourtools_img img {
  width: 100px;
  transition: 0.5s;
}

.our_tools_card{
  background: whitesmoke;
  border-radius: 20px;
  width: 300px;
  height: 250px;
  text-align: center;
  cursor: pointer;
  transition: width 0.5s ease;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-basis: 2;
  box-shadow: -2px -1px 2px rgba(0, 0, 0, 0.2), 2px 1px 2px rgba(0, 0, 0, 0.2);

}

.ourtools_card_center button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  color: white;
  background: #0093e9;
  margin-top: 1rem;
}
.ourtools_card_center{
  padding: 1rem;
  flex: 1;
}

.ourtools_card_center h4{
  color: #4c566a;
  font-weight:bold;
  font-size: 1.5rem;
  text-wrap: nowrap;
}
.our_tools_card:hover{
  width: 600px;
}
.our_tools_card:hover .ourtools_card__content{
  display: block;
}

.ourtools_card__content{
  width: 200px;
  background: lightblue;
  height: 100%;
  padding: 1rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  flex: 1;
  display: none;
}

.ourtools_card__content li{
  list-style-type: none;
  text-align: left;
  color: #4c566a;
  font-weight: bold;
  margin-top: 5px;
}